:root {
  /* COLOR */
  --white: 0deg, 100%, 100%;
  --black: 0deg, 0%, 0%;

  /* Grey */

  --grey-950: 200deg, 15%, 8%;
  --grey-400: 0deg, 0%, 50%;
  --grey-350: 0deg, 0%, 59%;
  --grey-300: 0deg, 0%, 70%;
  --grey-250: 0deg, 0%, 77%;
  --grey-050: 0deg, 0%, 99%;

  /* Blue */
  --blue-950: 207deg, 26%, 17%;
  --blue-900: 209deg, 23%, 22%;

  /* TYPOGRAPHY */

  font-family: 'Nunito Sans';

  --font-preset-1: 800 2rem/1.375 'Nunito Sans';
  --font-preset-2: 800 1.5rem/1.375 'Nunito Sans';
  --font-preset-3: 800 1.125rem/1.45 'Nunito Sans';
  --font-preset-4sb: 600 1rem/2 'Nunito Sans';
  --font-preset-4l: 300 1rem/2 'Nunito Sans';
  --font-preset-5r: 400 0.875rem/1.45 'Nunito Sans';
  --font-preset-5l: 300 0.875rem/2.25 'Nunito Sans';
  --font-preset-6sb: 600 0.75rem/1.35 'Nunito Sans';
  --font-preset-6r: 400 0.75rem/1.35 'Nunito Sans';
  --font-preset-6l: 300 0.75rem/1.35 'Nunito Sans';

  /* SPACING */

  font-size: 16px;

  --spacing-0100: 0.5em;
  --spacing-0200: 1em;
  --spacing-0300: 1.5em;
  --spacing-0400: 2em;
  --spacing-0500: 2.5em;
  --spacing-0600: 3em;
  --spacing-0700: 3.5em;
  --spacing-0800: 4em;
  --spacing-0900: 4.5em;
  --spacing-1000: 5em;

  /* CUSTOM PROPERTIES */

  /* LIGHT MODE COLOR */

  --light-bg: hsl(var(--white));
  --light-hover-bg: hsl(var(--grey-250));
  --light-clr: hsl(var(--grey-950));

  /* DARK MODE COLOR */

  --dark-bg: hsl(var(--blue-900));
  --dark-hover-bg: hsl(var(--grey-950));
  --dark-clr: hsl(var(--white));

  /* DEFAULTS */

  padding: 0;
  margin: 0;
  word-wrap: break-word;
  box-sizing: border-box;

  /* TYPOGRAPHY DEFAULTS */

  h1 {
    font: var(--font-preset-6sb);
    font-weight: 800;
  }

  h2 {
    font: var(--font-preset-3);
  }

  @media (min-width: 47.5em) {
  }

  @media (min-width: 56.67em) {
    h1 {
      font: var(--font-preset-2);
    }
  }
}

body {
  margin: 0;
}

.block {
  --background-color: var(--light-bg);
  --hover-bg-color: var(--light-hover-bg);
  --color: var(--light-clr);

  background-color: var(--background-color);
  color: var(--color);

  border-radius: 5px;
  box-shadow: 0.1em 0.1em 1em hsl(var(--black), 0.15);
}

.block.dark {
  --background-color: var(--dark-bg);
  --hover-bg-color: var(--dark-hover-bg);
  --color: var(--dark-clr);
}
